@import "variables";
@import "mixin.scss";
.container-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 8vh;
  width: 44vw;
}
.container-input {
  display: flex;
  margin: 10px;
}

.inputs {
  width: 73%;
  height: 2rem;
  border-radius: 10px;
  padding-left: 5px;
  font-size: 1.4rem;
}
.edit {
  margin: 0 0.5rem 0 0.5rem;
  @include button(12%, 2.5rem, $primaryColor, 1rem);
  margin: 0 5px 0 5px;
}
.delete {
  @include button(12%, 2.5rem, $cancelbuton, 1rem);
}
