@import "variables";
@import "mixin.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.titulo-lista {
  font-family: $font-family;
  color: white;
  width: 56%;
}

.input-zone {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;

  .lable-item {
    font-family: $font-family;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  input {
    width: 100%;
    border-radius: 6px;
  }
}

.container-form {
  display: flex;
  flex-direction: column;
  width: 56%;
}

.description-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.description-label {
  font-family: $font-family;
  color: white;
  font-size: 1.5rem;
  width: 70%;
  display: flex;
  justify-content: flex-start;

  margin-bottom: 10px;
}
textarea {
  border-radius: 10px;
}
.buton-zone {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;

  .button-send {
    @include button(12%, 2.5rem, $sendbuton, 2rem);
  }

  .button-cancel {
    @include button(12%, 2.5rem, $cancelbuton, 2rem);
  }
  .button-reset {
    @include button(12%, 2.5rem, $resetbuton, 2rem);
  }
}
