@import "variables";
@import "mixin.scss";

#list-component {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: left;
  margin: 3% 0 3% 5%;
}
.titulo-lista {
  font-family: $font-family;
  color: white;
}
