@import "variables";
@import "mixin.scss";

#list-component {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
#list-id {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.titulo-lista {
  font-family: $font-family;
  color: white;
  width: 90%;
}
