@mixin button($width, $height, $background-color, $font-size) {
  width: $width;
  height: $height;
  background: none;
  color: white;
  border-radius: 10px;
  background-color: $background-color;
  font-size: $font-size;
  cursor: pointer;
  border: none;
}
@mixin movil($media) {
  @media screen and (max-width: $media) {
    @content;
  }
}
